
# Listen on ports 810%i
# Path: /etc/systemd/system/mapproxy@.service
# systemctl start mapproxy@{1..4}.service


[Unit]
Description = Mapproxy backend (instance %i)
 
[Service]
Restart=always
User = www-data
Group = www-data
WorkingDirectory=MAPPROXY_DIR
ExecStart=MAPPROXY_DIR/bin/mapproxy-util serve-develop -b 0.0.0.0:810%i MAPPROXY_DIR/myconfig/mapproxy.yaml

[Install]
WantedBy=local.target
