
# Path: /etc/systemd/system/qgis-python@.socket
# systemctl enable qgis-python@{1..4}.socket && systemctl start qgis-fcgi@{1..4}.socket

[Unit]
Description = QGIS Server Python Socket (instance %i)
 
[Socket]
SocketUser = www-data
SocketGroup = www-data
SocketMode = 0660
ListenStream = /run/qgis_mapserv_python%i.sock
 
[Install]
WantedBy = sockets.target
